<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HEALTH HORIZON</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>

  <style>

        .logo {
            width: 50px;
            height: 50px;
            color: black;
            margin-top: 0;
            margin-left: 2px;
        }

        .myimg {
            width: 100px;
            height: 50px;
            border: 2px solid black;
            
        }




    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img class="myimg" src="../static/VIPS.jpg" alt="" width="40" height="40"> <!-- Adjust size if needed -->
                <span class="fw-bold fs-4 text-white ms-2">HEALTH HORIZON</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> <!-- This pushes the nav items to the right -->
                    <li class="nav-item">
                        <a class="nav-link active text-white fs-5" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fs-5" href="/about">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white fs-5" href="/contact">Contact us</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>
    
    


<DIV >
    <img src="../static/DOCTOR_.png" alt="" srcset="" height="600px" width="1200px">
    
    
    
    <!-- main form of page -->
    <!-- <img src="../static/doctor1.jpg" alt="" srcset="" height="200px" width="200px" class="img-fluid d-block mx-auto"> -->
    <br>
    <br>
    <br>
    <br>
    
    
    
</DIV>
<h1 class="mt-4 my-4 text-center text-green">List of symptoms our model is trained on</h1>
<div class="container mt-5 d-flex justify-content-center">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#symptomsModal">
        List of Symptoms
    </button>
</div>

<!-- Modal Structure -->
<div class="modal fade" id="symptomsModal" tabindex="-1" aria-labelledby="symptomsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="symptomsModalLabel">List of Symptoms</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="symptomsDropdown">
                    <!-- Symptoms will be populated here -->
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>








<DIV>
    <div class="d-flex align-items-start my-4">
        <div class="container" style="background: #0FC5D6; color: white; border-radius: 15px; padding: 40px; width: 100%;">
            <h1>Get Insights on Your Health</h1>
            <form action="/predict" method="post">
                <div class="form-group">
                    <label for="symptoms">Write your Symptoms:</label>
                    <input type="text" class="form-control" id="symptoms" name="symptoms" placeholder="Type symptoms such as itching,muscle_pain,neck_pain,dizzines etc.">
                </div>
                
                <!-- Display the transcribed text here -->
                <div name="mysysms" id="transcription"></div>
                
                {% if message %}
                <p>{{ message }}</p>
                {% endif %}
                
                <br>
                
                <button type="submit" class="btn btn-danger btn-lg" style="width: 100%; padding: 14px; margin-bottom: 5px;">Predict</button>
            </form>
        </div>
        <img src="../static/doctor1.jpg" alt="" height="200" width="200" class="me-4"> <!-- Add margin to the right -->
    </div>
    
    
    
    



    {% if predicted_disease %}

    <!-- Results Section -->
    <h1 class="text-center my-4">AI-Driven Health Insights</h1>
    <div class="container">
        <div class="accordion" id="resultAccordion">
            <!-- Disease Accordion -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingDisease">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDisease" aria-expanded="false" aria-controls="collapseDisease" style="background-color: #268AF3; color: white; font-weight: bold;">
                        <i class="bi bi-virus2"></i> Disease
                    </button>
                </h2>
                <div id="collapseDisease" class="accordion-collapse collapse" aria-labelledby="headingDisease" data-bs-parent="#resultAccordion">
                    <div class="accordion-body" style="background-color: #F0F8FF;">
                        <p>{{ predicted_disease }}</p>
                    </div>
                </div>
            </div>
    <br>
            <!-- Description Accordion -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingDescription">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription" style="background-color: #34A4F3; color: white; font-weight: bold;">
                        <i class="bi bi-journal-text"></i> Description
                    </button>
                </h2>
                <div id="collapseDescription" class="accordion-collapse collapse" aria-labelledby="headingDescription" data-bs-parent="#resultAccordion">
                    <div class="accordion-body" style="background-color: #F0F8FF;">
                        <p>{{ dis_des }}</p>
                    </div>
                </div>
            </div>
    <br>
            <!-- Precaution Accordion -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingPrecaution">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrecaution" aria-expanded="false" aria-controls="collapsePrecaution" style="background-color: #268AF3; color: white; font-weight: bold;">
                        <i class="bi bi-shield-check"></i> Precaution
                    </button>
                </h2>
                <div id="collapsePrecaution" class="accordion-collapse collapse" aria-labelledby="headingPrecaution" data-bs-parent="#resultAccordion">
                    <div class="accordion-body" style="background-color: #FFF8F0;">
                        <ul>
                            {% for i in my_precautions %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    <br>
            <!-- Medications Accordion -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingMedications">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMedications" aria-expanded="false" aria-controls="collapseMedications" style="background-color: #34A4F3; color: white; font-weight: bold;">
                        <i class="bi bi-capsule"></i> Medications
                    </button>
                </h2>
                <div id="collapseMedications" class="accordion-collapse collapse" aria-labelledby="headingMedications" data-bs-parent="#resultAccordion">
                    <div class="accordion-body" style="background-color: #FFF0F5;">
                        <ul>
                            {% for i in medications %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    <br>
            <!-- Workouts Accordion -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingWorkouts">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWorkouts" aria-expanded="false" aria-controls="collapseWorkouts" style="background-color: #268AF3; color: white; font-weight: bold;">
                        <i class="bi bi-barbell"></i> Lifestyle and Wellness Tips
                    </button>
                </h2>
                <div id="collapseWorkouts" class="accordion-collapse collapse" aria-labelledby="headingWorkouts" data-bs-parent="#resultAccordion">
                    <div class="accordion-body" style="background-color: #F5FFF0;">
                        <ul>
                            {% for i in workout %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <br>
    
            <!-- Diets Accordion -->
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingDiets">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDiets" aria-expanded="false" aria-controls="collapseDiets" style="background-color: #34A4F3; color: white; font-weight: bold;">
                        <i class="bi bi-basket3"></i> Diets
                    </button>
                </h2>
                <div id="collapseDiets" class="accordion-collapse collapse" aria-labelledby="headingDiets" data-bs-parent="#resultAccordion">
                    <div class="accordion-body" style="background-color: #FFFFF0;">
                        <ul>
                            {% for i in my_diet %}
                                <li>{{ i }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    
    <div class="container my-5">
        <div class="alert alert-danger text-center" role="alert" style="background-color: #FF6347; color: white; font-weight: bold;">
            <p style="font-size: 1.2em;">
                <i class="bi bi-exclamation-triangle-fill"></i> Please Note: While our AI system offers accurate predictions and recommendations, it is not a substitute for professional medical advice. We highly recommend consulting a real doctor or healthcare provider for proper diagnosis and treatment.
            </p>
        </div>
    </div>
    {% endif %}
    


        <script>
    const startSpeechRecognitionButton = document.getElementById('startSpeechRecognition');
    const transcriptionDiv = document.getElementById('transcription');

    startSpeechRecognitionButton.addEventListener('click', startSpeechRecognition);

    function startSpeechRecognition() {
        const recognition = new webkitSpeechRecognition(); // Use webkitSpeechRecognition for compatibility

        recognition.lang = 'en-US'; // Set the language for recognition

        recognition.onresult = function (event) {
            const result = event.results[0][0].transcript;
            transcriptionDiv.textContent = result;
        };

        recognition.onend = function () {
            console.log('Speech recognition ended.');
        };

        recognition.start();
    }
    
</script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        const symptoms_dict = {
            'itching': 0, 'skin_rash': 1, 'nodal_skin_eruptions': 2, 'continuous_sneezing': 3,
            'shivering': 4, 'chills': 5, 'joint_pain': 6, 'stomach_pain': 7, 'acidity': 8,
            'ulcers_on_tongue': 9, 'muscle_wasting': 10, 'vomiting': 11, 'burning_micturition': 12,
            'spotting_urination': 13, 'fatigue': 14, 'weight_gain': 15, 'anxiety': 16,
            'cold_hands_and_feets': 17, 'mood_swings': 18, 'weight_loss': 19, 'restlessness': 20,
            'lethargy': 21, 'patches_in_throat': 22, 'irregular_sugar_level': 23, 'cough': 24,
            'high_fever': 25, 'sunken_eyes': 26, 'breathlessness': 27, 'sweating': 28,
            'dehydration': 29, 'indigestion': 30, 'headache': 31, 'yellowish_skin': 32,
            'dark_urine': 33, 'nausea': 34, 'loss_of_appetite': 35, 'pain_behind_the_eyes': 36,
            'back_pain': 37, 'constipation': 38, 'abdominal_pain': 39, 'diarrhoea': 40,
            'mild_fever': 41, 'yellow_urine': 42, 'yellowing_of_eyes': 43, 'acute_liver_failure': 44,
            'fluid_overload': 45, 'swelling_of_stomach': 46, 'swelled_lymph_nodes': 47,
            'malaise': 48, 'blurred_and_distorted_vision': 49, 'phlegm': 50,
            'throat_irritation': 51, 'redness_of_eyes': 52, 'sinus_pressure': 53, 'runny_nose': 54,
            'congestion': 55, 'chest_pain': 56, 'weakness_in_limbs': 57, 'fast_heart_rate': 58,
            'pain_during_bowel_movements': 59, 'pain_in_anal_region': 60, 'bloody_stool': 61,
            'irritation_in_anus': 62, 'neck_pain': 63, 'dizziness': 64, 'cramps': 65,
            'bruising': 66, 'obesity': 67, 'swollen_legs': 68, 'swollen_blood_vessels': 69,
            'puffy_face_and_eyes': 70, 'enlarged_thyroid': 71, 'brittle_nails': 72,
            'swollen_extremeties': 73, 'excessive_hunger': 74, 'extra_marital_contacts': 75,
            'drying_and_tingling_lips': 76, 'slurred_speech': 77, 'knee_pain': 78,
            'hip_joint_pain': 79, 'muscle_weakness': 80, 'stiff_neck': 81, 'swelling_joints': 82,
            'movement_stiffness': 83, 'spinning_movements': 84, 'loss_of_balance': 85,
            'unsteadiness': 86, 'weakness_of_one_body_side': 87, 'loss_of_smell': 88,
            'bladder_discomfort': 89, 'foul_smell_of_urine': 90, 'continuous_feel_of_urine': 91,
            'passage_of_gases': 92, 'internal_itching': 93, 'toxic_look_(typhos)': 94,
            'depression': 95, 'irritability': 96, 'muscle_pain': 97, 'altered_sensorium': 98,
            'red_spots_over_body': 99, 'belly_pain': 100, 'abnormal_menstruation': 101,
            'dischromic_patches': 102, 'watering_from_eyes': 103, 'increased_appetite': 104,
            'polyuria': 105, 'family_history': 106, 'mucoid_sputum': 107, 'rusty_sputum': 108,
            'lack_of_concentration': 109, 'visual_disturbances': 110, 'receiving_blood_transfusion': 111,
            'receiving_unsterile_injections': 112, 'coma': 113, 'stomach_bleeding': 114,
            'distention_of_abdomen': 115, 'history_of_alcohol_consumption': 116,
            'fluid_overload.1': 117, 'blood_in_sputum': 118, 'prominent_veins_on_calf': 119,
            'palpitations': 120, 'painful_walking': 121, 'pus_filled_pimples': 122, 'blackheads': 123,
            'scurring': 124, 'skin_peeling': 125, 'silver_like_dusting': 126,
            'small_dents_in_nails': 127, 'inflammatory_nails': 128, 'blister': 129,
            'red_sore_around_nose': 130, 'yellow_crust_ooze': 131
        };
    
        const symptomsDropdown = document.getElementById('symptomsDropdown');
    
        // Populate the dropdown with symptoms
        for (const symptom in symptoms_dict) {
            const option = document.createElement('option');
            option.value = symptoms_dict[symptom];
            option.textContent = symptom.replace(/_/g, ' '); // Replace underscores with spaces
            symptomsDropdown.appendChild(option);
        }
    </script>
    
</body>

</html>
